doctype html
html
  head
    //- Default metadata variables are defined in meta.jade
    //- include meta
    //- Metadata vars can be overriden in other template files
    //- block meta
    title Nesta Steel Drum Band - #{title} 
    meta(name="keywords", content="#{keywords}")
    meta(name="description", content="#{description}")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
    link(rel="stylesheet", href="/dist/css/main.css")
    if user
      link(rel="stylesheet", href="/dist/css/cms.css")
      
  body
    header
      div.navbar.navbar-default.navbar-static-top(role="navigation")
        div.container-fluid
          div.navbar-right
            div.text-center
              a(href="/", title="Nesta Steel Drum Band") Nesta Steel Drum Band
            if user
              div Logged in as #{user.name}
          nav
            ul.nav.navbar-nav
              li
                a(href="/about") About Us
              li.dropdown
                a.dropdown-toggle(href="/sounds", data-toggle="dropdown") Sounds
                ul.dropdown-menu
                  li
                    a(href="/sounds/solos-and-duos") Solos and Duos
                  li
                    a(href="/sounds/trios-or-larger") Trios or Larger
                  li
                    a(href="/sounds/wedding-and-acoustic") Wedding &amp; Acoustic Music
              li
                a(href="/pricing") Pricing
              li
                a(href="/clients") Clients
              li
                a(href="/testimonials") Testimonials
              li
                a(href="/faq") FAQ
              if user
                li
                  a(href="/logout") Logout
                

    div.container-fluid 
      div#content
        block content

    #player
    #overlay

    footer
      p
        | &copy; Nesta Steel Drum Band<br>
        | Santa Clarita, CA<br>
        | (310) 666-3464
      p
        | Visit us on 
        a(href="https://www.facebook.com/pages/Nesta-steel-drum-band/191308657554842") Facebook 
        | and 
        a(href="https://plus.google.com/+Nestasteelband") Google+ 
      ul.links
        li.home
          a(href="/") Home
        li
          a(href="/about") About Us
        li
          a(href="/sounds/solos-and-duos") Solos and Duos
        li
          a(href="/sounds/trios-or-larger") Trios or Larger
        li
          a(href="/sounds/wedding-and-acoustic") Wedding &amp; Acoustic Music
        li
          a(href="/pricing") Pricing
        li
          a(href="/clients") Clients
        li
          a(href="/testimonials") Testimonials
        li
          a(href="/faq") FAQ
        li
          a(href="/links") Links
    
    //- settings.env = 'production'
    
    script(type="text/javascript").
      [].filter||(Array.prototype.filter=function(a,b,c,d,e){c=this;d=[];for(e in c)~~e+''==e&&e>=0&&a.call(b,c[e],+e,c)&&d.push(c[e]);return d});
      Object.keys=Object.keys||function(o,k,r){r=[];for(k in o)r.hasOwnProperty.call(o,k)&&r.push(k);return r};
      Array.isArray||(Array.isArray=function(a){return''+a!==a&&{}.toString.call(a)=='[object Array]'});
      window.nesta = { env: '#{settings.env}' };
    
    if user
      script(type="text/javascript").
        window.nesta.user = !{JSON.stringify(user)};
        window.nesta.markdown_opts = !{JSON.stringify(marked_opts)};
    
    if settings.env == 'production'
      script(type="text/javascript", src="/dist/js/main.js")
    else
      script(type="text/javascript", src="/bower_components/requirejs/require.js")
      script(type="text/javascript", src="/js/config.js")
    
    if user
      script(type="text/javascript").
        require([ 'main' ], function() {
          require([ 'cms' ]);
        });
    else
      script(type="text/javascript").
        require([ 'main' ]);




