include config
block config
doctype html
html
  head
    title #{title} 
    meta(name="keywords", content="#{keywords}")
    meta(name="description", content="#{description}")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="csrf-param", content="#{csrf}")
    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    link(rel="stylesheet", href="/dist/css/main.css")
    if user
      link(rel="stylesheet", href="/dist/css/cms.css")
    
    <!--[if lt IE 9]>
    script(src="/bower_components/html5shiv/dist/html5shiv.min.js")
    script(src="/bower_components/respond/dest/respond.min.js")
    link(rel="stylesheet", href="/dist/css/ie8.css")
    <![endif]-->
  
  body(class="#{body_class}")
    #bg
    header
      div.navbar.navbar-default.navbar-static-top(role="navigation")
        div.navbar-left
          a.logo(href="/", title="Nesta Steel Drum Band")
            span Nesta Steel Drum Band
          if user
            div Logged in as #{user.name}
        
        .navbar-header
          button(type="button", data-target="#navbar-collapse", data-toggle="collapse", class="navbar-toggle")
            span.sr-only Toggle Nav
            span.icon-bar
            span.icon-bar
            span.icon-bar

        div.container-fluid.collapse.navbar-collapse#navbar-collapse
          nav.navbar-right
            ul.nav.navbar-nav
              each link, name in nav
                - var current = (name == body_class ? 'current' : '');
                li(class="#{current}")
                  if link.items
                    a.dropdown-toggle(href="#{link.url}", data-toggle="dropdown")
                      = link.text
                    ul.dropdown-menu
                      each item in link.items
                        li
                          a(href="#{item.url}")
                            = item.text
                  else
                    a(href="#{link.url}")
                      = link.text

    #main.container-fluid
      #main-inner
        block content

    footer
      p
        | &copy; Nesta Steel Drum Band<br>
        | Santa Clarita, CA<br>
        | (310) 666-3464
      p
        | Visit us on 
        a(href="https://www.facebook.com/pages/Nesta-steel-drum-band/191308657554842") Facebook 
        | and 
        a(href="https://plus.google.com/+Nestasteelband") Google+ 
      ul.links
        li.home
          a(href="/") Home
        li
          a(href="/about") About Us
        li
          a(href="/sounds/solos-and-duos") Solos and Duos
        li
          a(href="/sounds/trios-or-larger") Trios or Larger
        li
          a(href="/sounds/wedding-and-acoustic") Wedding &amp; Acoustic Music
        li
          a(href="/pricing") Pricing
        li
          a(href="/clients") Clients
        li
          a(href="/testimonials") Testimonials
        li
          a(href="/faq") FAQ
        li
          a(href="/links") Links
        
    #player
    #overlay

    //- settings.env = 'production'
    
    script(type="text/javascript").
      // Various polyfills
      [].filter||(Array.prototype.filter=function(a,b,c,d,e){c=this;d=[];for(e in c)~~e+''==e&&e>=0&&a.call(b,c[e],+e,c)&&d.push(c[e]);return d});
      Object.keys=Object.keys||function(o,k,r){r=[];for(k in o)r.hasOwnProperty.call(o,k)&&r.push(k);return r};
      Array.isArray||(Array.isArray=function(a){return''+a!==a&&{}.toString.call(a)=='[object Array]'});
      window.nesta = { env: '#{settings.env}' };
    
    if user
      script(type="text/javascript").
        window.nesta.user = !{JSON.stringify(user)};
        window.nesta.markdown_opts = !{JSON.stringify(marked_opts)};
    
    if settings.env == 'production'
      script(type="text/javascript", src="/dist/js/main/app.js")
      if user
        script(type="text/javascript", src="/dist/js/cms/app.js")
    else
      script(type="text/javascript", src="/bower_components/requirejs/require.js")

    script(type="text/javascript").
      require.config({ baseUrl: '/js' });
      require([ 'config' ], function() {
        require([ 'main/app' ]);
      });

    if user
      script(type="text/javascript").
        require([ 'cms/app' ]);
  

