
td.image
  img(src="/user/images/#{image.path}?ts=#{image.last_update}") 
td.path
  span!= image.path
td.size!= bytesToSize(image.size)
td.page_count 
  span(title="This image appears on #{image.page_count} page(s)")
    if image.page_count
      #{image.page_count}
      
td.edit
  ul
    li
      a.add-to-content(href="javascript:void(0);") Add to Content
    li
      a.remove(href="javascript:void(0);") Remove
